.my-card
{
    width: 80%;
    height: fit-content;
    margin: auto;
    text-align: center;
    border: 3px solid #dcd5e7;
    background-color: rgb(227, 236, 103);
    color: rgb(223, 207, 207);
}
.user-name{
    width: 80%;
    margin: auto;
    padding: 10px;
    border-bottom: 1px solid rgb(177, 177, 233);
}
.user-details {
    width: 80%;
    height: fit-content;
    margin: auto;
    text-align: left;
    padding: 10px;
}
